@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
}
.barranav{
    height: 7.5vh;
    background-color: rgb(181, 189, 144);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.navegar a{
    text-decoration: none;
    color: black;
    width: 5.208vw;
    margin: 20px;
    font-size: 25px;
 }

 .navegar a:hover{
    color: rgb(219, 212, 212);

 }



.articless{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 20px;

}

.articless div{
    margin: 2%;
    border-radius: 5px;
    border: 2px solid gray;
}
.articles{
    text-align: center;
}



img {
    border: 2px solid rgb(228, 201, 201);
    border-radius: 5px;
    width: 20vw;
    margin: 40px;
}


